@import url(../vendor/normalize.css);
@import url("../vendor/fonts/Inter-3.19/Inter\ Web/inter.css");
@import url(../blocks/page/page.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar-photo/profile__avatar-photo.css);
@import url(../blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__description/element__description.css);
@import url(../blocks/element/__name/element__name.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-amount/element__like-amount.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like-button/_is-active/element__like-button_is-active.css);
@import url(../blocks/element/__trash-button/element__trash-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_is-opened/popup_is-opened.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__container/_type_image/popup__container_type_image.css);
@import url(../blocks/popup/__picture-title/popup__picture-title.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/_overley_dark/popup_overley_dark.css);
@import url(../blocks/error/error.css);
@import url(../blocks/popup/__button-save/_inactive/button-save_inactive.css);
@import url(../blocks/popup/__button-title/popup__button-title.css);
@import url(../blocks/popup/__button-title-load/popup__button-title.css);
@import url(../blocks/popup/_visible/button-title_visible.css);