.profile__name {
  font-size: 42px;
  line-height: 48px;
  height: 39px;
  display: flex;
  margin-bottom:  16px;
  margin-top: 0;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    height: 26px;
    align-self: auto;
  }
}
