.popup__button-close {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-image: url(../../../images/icon-close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
}

.popup__button-close:hover {
  opacity: 60%;
}

@media screen and (max-width: 640px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
  }
}
